.dashBoard{
    position: relative;
}
.nav-link{
    position: fixed;
}
.account-pagee{
    /* background: rgb(2, 0, 36); */
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
      padding: 237px 0;
}
.account-pagee h1{
    font-size: 50px;
    font-weight: 400;
    color: white;
    text-align: center;
    background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.account-pagee h3{
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 600px){
    .account-pagee h1{
        font-size: 30px;
    }
    .account-pagee h3{
        font-size: 20px;
    }
}