.form{
    margin-top: 150px;
    margin-left: 430px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid white;
    padding: 40px 0px;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(109, 106, 106);
    border-radius: 10px;
}
p{
    background-color: rgb(109, 106, 106);
    font-size: 15px;
    text-align: center;
    color: rgb(116, 5, 5);
}
.login-profile input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    padding:10px;
    font-size: 17px;
    background-color: white;
    margin-top: 15px;
    text-align: center;
}
.button{
    width: 420px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(109, 106, 106);
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}
button:hover{
    background-color: white;
    color: black;
}
.nav-link span{
    color: rgb(94, 94, 245);
}
.login-page h4{
    color: white;
    background-color: rgb(109, 106, 106);
    font-size: 35px;
}
.login-profile{
    margin-top: 150px;
}
.signup-link{
    margin-top: 10px;
    color: rgb(13, 13, 14);
    font-size: 16px;
}
.signup{
    color: rgb(4, 12, 83);
    text-decoration: none;
    background-color: rgb(109, 106, 106);
    font-size: 20px;
}
@media screen and (max-width: 600px){
    .login-profile{
        margin-top: 0px;
    }
    .form{
        margin-left: 40px;
        width: 80%;
        border-radius: 10px;
        margin-top: 200px;
    }
    .login-page h4{
        font-size: 20px;
    }
    .login-profile input{
        width: 80%;
        padding: 5px;
    }
    .button{
        width: 85%;
    }
    .signup-link{
        font-size: 14px;
    }
    .signup{
        font-size: 16px;
    }
}